body {
    background: linear-gradient(90deg, #F10303 0%, #000000 61%);
}

.nav-link {
    color: rgb(255, 0, 0);
}

.navbar-nav .nav-link.active {
    color: brown;
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler {
    background-color: brown;
}

.sidebar {
    color: #F10303;
    background: linear-gradient(270deg, #500000 0%, #000000 61%);
    margin: 10px;
}

.footer-text {
    background: linear-gradient(300deg, #500000 0%, #000000 61%);
}

p {
    color: aquamarine;
}

.slide-text {
    margin: auto auto;
}